.editorconfig
.env
.env.production
/.idea
/.vscode
/node_modules
/public/css/
/public/js/
/public/mix-manifest.json
/public/storage
/resources/views/vendor/mail/
/resources/views/vendor/pagination/default.blade.php
/resources/views/vendor/pagination/semantic-ui.blade.php
/resources/views/vendor/pagination/simple-bootstrap-4.blade.php
/resources/views/vendor/pagination/simple-default.blade.php
/resources/views/vendor/pagination/simple-tailwind.blade.php
/resources/views/vendor/pagination/tailwind.blade.php
/vendor
_ide_helper.php
_ide_helper_models.php
