/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.example
docker-compose.override.yml
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.editorconfig

/public/css/
/public/js/
/public/mix-manifest.json
/resources/sass/
/resources/views/vendor/pagination/default.blade.php
/resources/views/vendor/pagination/semantic-ui.blade.php
/resources/views/vendor/pagination/simple-bootstrap-4.blade.php
/resources/views/vendor/pagination/simple-default.blade.php
/resources/views/vendor/pagination/simple-tailwind.blade.php
/resources/views/vendor/pagination/tailwind.blade.php
